<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<div class="panel panel-primary">
    <div class="panel-heading">Infos User {{ user.user_firstname }}</div>
    <div class="panel-body">First Name : {{ user.user_firstname }}</div>
    <div class="panel-body">Last Name : {{ user.user_lastname}}</div>
    <div class="panel-body"> Email Address : {{ user.user_emailadress }}</div>
    <div class="panel-body">Password : ***********</div>
  </div>