
    <div class="container">
            <table class="table ">
                    <thead>
                      <tr>
                          <th>id Student</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Niveaux Etudiant</th>
                          <th>Description Etudiant</th>
                          <th>note 1</th>
                          <th>note 2</th>
                          <th>note 3</th>
                         
                         </tr>
                    </thead> 
                    <tbody>
                       <td>{{ todos.id_etudiant}}</td>
                        <td>{{ todos.first_etudiant}}</td>
                        <td>{{ todos.last_name }} </td>
                        <td>{{ todos.niveau_etudiant }} </td>
                        <td>{{ todos.description_etudiant }} </td> 
                        <td>{{todos.notes_final[0].description_matiere }} {{todos.notes_final[0].note }} </td>
                        <td>{{todos.notes_final[1].description_matiere}} {{todos.notes_final[1].note }} </td>
                        <td>{{todos.notes_final[2].description_matiere}} {{todos.notes_final[2].note }} </td>
                  </tbody></table></div>      
